<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <button class="btn btn-primary" (click)="getUserDetail()">Get Detail</button>
    <table>
        <thead>
            <tr>
                <th>Bank ID</th>
                <th>Bank Name</th>
                <th>Account Number</th>
                <th>Account Holders Name</th>
            </tr>
        </thead>
        <tbody>
            @for (getUserDetail of userDetails; track getUserDetail.bankId){
            <tr>
                <td>{{ getUserDetail.bankId }}</td>
                <td>{{ getUserDetail.bankName }}</td>
                @for(account of branches; track account.accountNumber){
                <td>{{ account.accountNumber }}</td>
                <td>{{ account.accountHoldersName }}</td>
                }
            </tr>
            }
        </tbody>
    </table>
</body>

</html>