<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container mt-5">
        <div class="text-center mb-4">
            <button class="btn btn-primary" (click)="getAllUsers()">Fetch Data</button>
        </div>
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @for (user of userList; track user.userId) {
                <tr>
                    <td>{{ user.userId }}</td>
                    <td>{{ user.name }}</td>
                    <td>
                        <app-user-component [userIdDynamic]='user.userId'></app-user-component>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</body>

</html>